
body {

    padding-left: 5%;
    padding-right: 5%;
    background-image: url('./Imagenes/color.jfif'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center
}

