
body{
    background-color:white ;
    padding: 30px;
}

.barra{
    display: grid;
    border-bottom: SOLID 0.25px rgb(19, 209, 200);
    grid-template-columns: auto 1fr;
    align-items: center ;
}

.logo{
    margin: 0.5%;
    font-size: 50px;
    color: rgb(19, 209, 200);
    padding-left: 50px;
    letter-spacing:5px;
    font-family: bitter ;
    width: 700px;
}
.barra >.navbar{
    font-size: 40px;
    justify-self: end;
    width: 750px;
    font-family: bitter ;
}
.navbar > .links{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
}

li > a {
    color: rgb(19, 209, 200);
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid rgb(19, 209, 200);

}

.presentacion {    
    background-color: rgb(19, 209, 200);;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr ;
    align-items: center;
    margin-top: 300px;
    border: solid 1px rgb(19, 209, 200);
    border-radius: 250px;
    font-size: 50px;
    color: brown;

}
.presentacion > .apellido  {
    margin: 0%;
    font-size: 50px;
    bottom: 150px;
    align-items: center;

}
    
.presentacion > .Yo {
    /* justify-self: center ; */
}

p {
    width: 600px;
}
.Yo {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center ;


}

